TZ=Asia/Almaty
USER_NAME=localusername
GID=1000
UID=1000

# =============== IMMICH ==============
IMMICH_DB_USERNAME=postgres
IMMICH_DB_DATABASE_NAME=immich
IMMICH_DB_PASSWORD=passowrd
IMMICH_UPLOAD_LOCATION=/path/to/upload/location
IMMICH_DB_DATA_LOCATION=/path/to/pgdata
IMMICH_VERSION=v3
# =============== IMMICH ==============

# ============== JELLYFIN =============
JELLYFIN_MEDIA_LOCATION=/path/to/media
# ============== JELLYFIN =============

# =============== SAMBA ===============
SAMBA_SHARE_PATH=/share/path
SAMBA_NAME=media
SAMBA_USER=samba
SAMBA_PASS=secret
# =============== SAMBA ===============
